.top
  .top-title
    Idea Room
  .top-center
    .top-center-left
      斬新な
    .top-center-icon
      = icon('far', 'lightbulb', class:"top-center-icon")
    .top-center-right
      考えを
  .top-btn
    = link_to "生み出そう", "#", class:"top-btn"