.top
  .top-title
    Idea Room
  .top-canter
    .top-canter-left
      斬新な
    .top-canter-icon
      = icon('far', 'lightbulb', class:"top-canter-icon")
    .top-canter-right
      考えを
  .top-btn
    = link_to "生み出そう", "#", class:"top-btn"