.player
  .player-box
    .player-box-number
      19
    .player-box-info
      .player-box-info-name
        山崎康晃
      .player-box-info-birth
        1992年10月2日
        14年ドラフト1位
      .player-box-info-position
        ポジション: 抑え
      .player-box-info-intro
        やすあきジャンプ
