.intro {
  // display: flex;
  // background: #3333FF;
  // width: 100vw;
  // height: 100vh;
  position: relative;


  &-text {
    position: absolute;
    color: white;
    text-shadow: 1px 2px 3px #808080;
    left: 80px;

    & > p{
      font-size: 5rem;
      text-align: center;
      margin-top: 40px;
    }
    & > h5{
      text-align: center;
    }
  }
  &-image {
    background-attachment: fixed;
    z-index: -1;
  }
  &-about {
    background: #DDFFFF;
    margin: 0 auto;
    width: 1440px;
    &-content {

      &-text {
        text-align: center;
        font-weight: bold;
        font-size: 3rem;
        width: 70%;
        margin: 0 auto;
        padding-top: 50px;
        box-shadow: 10px 15px 10px 5px #2C7CFF;
        border-radius: 30px;
      }
      &-show {
        width: 70%;
        margin: 70px auto 0 auto;
        text-align: center;
        // padding-top: 80px;
        box-shadow: 10px 15px 10px 5px #2C7CFF;
        border-radius: 30px;
      }
      &-show > p{
        color: red;
        font-size: 4rem;
      }
      &-show > ul{
        font-size: 2rem;
      }
      &-show > ul > li{
        margin-top: 20px;
      }
      &-image {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
      }
    }
    &-btn {
      padding: 15px;
      width: 15%;
      border-radius: 30px;
      background: #4689FF;
      color: #fff;
      text-align: center;
      border: none;
      margin: 30px auto 0 auto; 
      transition: opacity .5s;
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
    }
  }
}
.bar {
  width: 100vw;
  height: 50px;
}
.footer1 a{
  width: 100%;
  background-color: #33CCFF;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  height: 30px;
  position: absolute;/*←絶対位置*/
  // bottom: 0; /*下に固定*/
  // margin-top: 30px;
}