// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top {

  &-title {
    text-align: center;
    font-size: 4.5rem;
    width: 80vw;
    margin: 0 auto;
    padding: 50px;
  }

  &-center {
    display: flex;
    width: 90vw;
    justify-content: space-around;
    margin: 0 auto;
    padding: 30px;

    &-left {
      font-size: 3rem;
      // display: none;
      -webkit-animation: fadein 3s linear 0s 1;
    }
    &-icon i{
      font-size: 10rem;
      background: yellow;
      animation: appeare .5s ease .5s 1000 normal forwards 
    }
    &-right {
      font-size: 3rem;
      // display: none;
    }
  }
  &-btn a{
    display: block;
    text-align: center;
    font-size: 4.5rem;
    width: 60vw;
    margin: 0 auto;
    padding: 50px;
    text-decoration: none;
    border-radius: 21px;
    background: #29b744;
    color: #fff;
    // opacity: 1;
    // transition: opacity .5s;
    animation: appeare 1s ease 1s 5 normal forwards running;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}

@keyframes appeare {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}